* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}


header {
    background: #FFF8F3;
    background: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-bottom: 130px;
}
.top-head > a{
    text-decoration: none;
    color: #181818;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 220px;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

nav ul a {
    text-decoration: none;
}

nav h2 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav li {
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.org-logo {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 30px;
}

.developer-img {
    background-position: top center;
}

.contact {
    padding: 18px 30px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    border: 0;
    color: #FD6E0A;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
}

header>section {
    display: flex;
    align-items: center;
    padding: 0 30px 0px 200px;
    gap: 150px;
}

.my-intro {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

.gretting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.my-name {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    padding: 0;
    margin: 0;

}

.about-me {
    border-radius: 10px;
    background: #FFF8F3;
    margin: 0 200px;
    padding: 100px 0px;
    margin-bottom: 130px;

}

.about-me-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    /* padding-top: 100px; */
}

.about-me-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 150px;
}

.about-me-info {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.about-me-ans {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.about-me-ques {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;

}


.what-i-do {
    margin: 0 200px 130px 200px;

}

.skills {
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.summary {
    margin: 0 200px 100px 200px;

}

.summary-part {
    display: flex;
    /* justify-content: space-between; */
    text-align: left;
    gap: 70px;
}

.edu-name {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.edu-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
}

.edu-text {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

hr {
    background: #D1D1D1;
}

.summary-btn {
    margin-top: 60px;
    text-align: center;
}

.footer {
    background: #FFF8F3;
    /* margin: 0 200px; */

}


.footer-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;

}

.footer-dis {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

.icons {
    display: flex;
    gap: 24px;
}

input[type='text'],
input[type='email'],
textarea {
    display: block;
    margin-bottom: 24px;
    width: 100%;
    padding: 18px 30px;
    border: 0;
    border-radius: 5px;
    background: #FFF;
}

.footer-div {
    display: flex;
    margin: 0 200px;
    /* gap: 130px; */
    padding-bottom: 110px;
    justify-content: space-between;
}

/* .footer-description {
    width: 50%;
}

.footer-form {
    width: 50%;
    margin-left: 80px;
    margin-right: 45px;
} */



@media screen and (max-width: 576px) {

    .skills,
    .summary-part,
    .about-me-info,
    header>section,
    nav,
    nav ul {
        flex-direction: column;
    }

    .what-i-do,
    .about-me-description,
    .summary,
    .about-me {
        margin: auto;
    }

    .footer-div {
        flex-direction: column;
        margin: auto;
    }

    .icons {
        justify-content: space-evenly;
    }

    .footer-description,
    .footer-form {
        text-align: center;
    }

    input[type='text'],
    input[type='email'],
    textarea {
        width: 80%;
    }

    header {
        background: none;
        margin: auto;
    }

    header>section{
        padding: 0;
        text-align: center;
        width: 100%;
        gap: 0;
    }
    .myimage{
        margin-top: 5%;
    }
    .myimage>img{
        width: 80%;
        margin-left: 0;
        padding-left: 0;
    }
    .about-me-description{
        padding: 0% 4%;
    }
    nav ul{
        gap: 10px;
    }
    .btn-primary, .contact{
        padding: 10px;
        font-size: 18px;
    }
    nav{
        padding: 0;
    }
    .my-name{
        font-size: 50px;
    }
    .top-head{
        margin-bottom: 2%;
    }
    .about-me{
        padding: 8% 0;
    }
    .about-me-info{
        gap: 20px;
    }
    .footer{
        margin-top: 5%;
    }

}

@media screen and (min-width: 576px) and (max-width: 992px) {}